#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    width: 500px;
    height: 300px;

    #navbar {
      list-style: none;
      display: flex;
    }
  }

  img {
    transform: rotate(-90deg);
  }
}
